@font-face { font-family: Roboto; src: url('fonts/Roboto/Roboto-Thin.ttf'); } 
@font-face { font-family: RobotoGras; font-weight: bold; src: url('fonts/Roboto/Roboto-Bold.ttf'); } 

body {
    margin: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto;
}


p {
   font-family: Roboto;
}

h2 {
    font-family: RobotoGras;
}


.Apropos h2 {
    padding-top: 15px;
    font-size: 2em;
    margin: 0 !important;
    position: relative;
    top: 10%;
    text-align: center;
    color: white;
    background: none;
}

.Apropos p {
    margin: 0 !important;
    font-size: 1.3em;
    position: relative;
    top: 25%;
    color: white;
    width: 60%;
    left: 19%;
    padding: 25px 0 25px;
}

.categorie h2 {
    font-size: 2.4em;
    margin: 0 !important;
    position: relative;
    top: 33%;
    text-align: center;
    color: #34bcef;
}

header {
    width: 100vw;
    height: 60px;
    background-color: black;
    vertical-align: center;
}

header h2 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    position: relative;
    left: 15px;
    padding-top: 1%;
    color: white;
    font-size: 1.7em;
}

header p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    position: absolute;
    right: 10px;
    top: 9px;
    color: white;
    font-size: 2em;

}

.OnePage {
    
    width: 100vw;
    height: 97.6vh;
    /* background-color: cornflowerblue; */
}

.OnePage h2 {
    text-align: center;
    color: white;
    font-size: 4em;
    position: relative;
    z-index: 1;
    margin-top: 15%;
}

.blue h2{
    text-align: center;
    color: white;
    font-size: 3em;
    z-index: 1;
    padding-top: none;
}

.OnePage video {
    z-index: -2;
    /* margin: auto;
 width: 100%;
 height: 100vh; */

top: 0;
 position: fixed;
 min-width: 100%; 
 min-height: 100%;
}

span {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.hihglight {
    color: #34bcef;
    text-decoration: none;
}

.Apropos {
    text-align: center;
    width: 100vw;
    height: auto;
    /*background-color: #41415c;*/
    background-color: rgba(0,0,0,0.9);
    /* background-color: #1892d3; */
}

.categorie {
    width: 100vw;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
}

.section {
    width: 100vw;
    height: auto;
    /*background-color: #222222;*/
    background-color: rgba(0,0,0,0.9);
    display: flex;
    clear: both;
    content: "";
    display: table;
    overflow: hidden; /* or: auto | scroll */
}

.section ul {
    margin-block-start: 0 !important;
    padding: 0;
    margin-block-end: 0 !important;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    top: 17%;
    flex-wrap: wrap;
    list-style-type: none;
    /* background-color: white; */
    width: 80%;
    height:auto;
}

.project {

}

.section li {
    width: 180px;
    /*height: 200px;*/
    height: fit-content;
    background-color: #101010;
    margin: 15px;
    border: 0px solid #dadada;
    border-radius: 0px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 20px;
}

a {
    text-decoration: none;
  color: white;
}

.section li:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}

li img {
    border-radius: 20px 20px 0 0;
}
/* 
li:hover img {
    border-radius: 25px 25px 0 0;
} */


.section li:hover p {
    color: #34bcef;
}

.bg-model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* position: absolute; */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
   /* height: 700px;
    width: 1000px;*/
    height: 85%;
    width: 80%;
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    overflow-y: scroll;
}

.modal-content iframe {
   padding: 30px 0 15px 0;
}

.modal-content video {
    padding-top: 30px;
}

.separateur {
    width: 80%;
    height: 1px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

.Description {
    color: white;
    width: 80%;
    /*height: 21%;*/
    margin: auto;
    margin-bottom: 15px;
    text-align: left;
    font-size: 1em;
    /* padding-top: 10px; */
    /* background-color: #1892d3; */
    /* overflow: scroll; */
}

.section li p {
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    transition-duration: 0.2s;
    margin-top: 12px;
}



.Thumbnail {
    width: 100%;
    /*height: 70%;*/
    height: 9em;
}

.DetailImage {
    height: auto;
    width: auto;
    margin-top: 30px;
}

.DetailImage img {

}

footer {
    width: 100vw;
    height: 200px;
    background-color: #101010;
}


footer h2 {
    padding-top: 15px;
    font-size: 2em;
    margin: 0 !important;
    position: relative;
    top: 10%;
    text-align: center;
    color: white;
    background: none;
}

footer ul ul{
    margin-block-start: 0 !important;
    padding: 0;
    margin-block-end: 0 !important;
    margin: auto;
    padding-top: 48px;
    /*padding-bottom: 48px;*/
    position: relative;
    display: flex;
    width: 70%;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    list-style-type: none;
}

footer ul{
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
}

footer li {
    margin-bottom: 0.2em;
}


.section ul ul {
    margin-block-start: 0 !important;
    padding: 0;
    margin-block-end: 0 !important;
    margin: auto;
    margin-left: 1.2em;
    position: relative;
    display: flex;
    width: 70%;
    flex-direction: column;
    color: white;
    font-size: 1em;
}

.section ul ul li {
 background-color: transparent; 
 margin: 0;
 margin-bottom: 1.2em;
 border-color: transparent;
box-shadow: none;
}

.section ul ul li:hover {
    outline: none;
    border-color: transparent !important;
    box-shadow: none !important;
}



.section ul ul li:hover p {
    color: transparent !important;
}


.CV {
    width: 280px;
    height: 61px;
    background-color: #222222;
    margin-top: 50px;
    border: 0px solid #dadada;
    border-radius: 0px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 20px;
}

.CV a {
    margin: 0 !important;
    font-size: 1.3em;
    position: relative;
    /* top: 25%; */
    color: white;
    /*padding: 18px 101px 25px 101px;*/
    padding: 20px 80px 3px 45%;
}

.CV:hover {
    outline: none ;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}

.CV:hover a {
    color: #34bcef;
}

@media only screen and (max-width: 600px) {
  

    .DetailImage img {
        height: 25vh;
    }

    iframe {
        width: 90%;
    }

    .Description p{
        font-size: 2em;
    }

    .Apropos p {
        font-size: 1.3em;
    }
  
}